@{ 
    ViewBag.Title = "Control de Actas | Inicio";
}

<h3>Sistema de control de actas de UABC.</h3>
<p>Este sistema fue creado por equipo 2 de Ingeniería de Software 482.2017-1</p>
<form>
    <div>
        <label>Date</label>
        <input type="text" />
    </div>
    <div>
        <label>Location</label>
        <input type="text" />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>